.recherche-overlay {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  background: rgba(255, 255, 255, 0.7);
  padding: 20px 24px;
  border-radius: 15px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.15),
    0 2px 8px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(4px);
  width: 420px;
}

.recherche-overlay span {
  display: block;
  margin-bottom: 8px;
  
  font-size: 16px;
  color: rgb(0, 0, 0)
}
