.details-restaurant-group {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;

  background: rgba(255, 255, 255, 0.9);
  padding: 20px 24px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 -8px 3px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  width: 100%;
    box-sizing: border-box;

}